<section>
  <% if @restaurants.any? %>
    
    <% @restaurants.each do |restaurant| %>
      <%= image_tag restaurant.image.url(:thumb) %>
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <h4>
        <% if current_user == restaurant.user %>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
        <% end %>

        <% unless already_reviewed_by_user?(restaurant) %>
          <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
        <% end %>
      </h4>

      <h4>Reviews for <%= restaurant.name %>:</h4>
      <% if restaurant.reviews.any? %> 

        <ul>
          <% restaurant.reviews.each do |review| %>
            <li>
              <%= review.thoughts %> <%= review.rating %>
              <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %>
              <span class='endorsements_count'> 
                <% if review.endorsements.any? %>
                 <%= review.endorsements.count %>
                <% end %>
              </span> 
              <% if review.endorsements.any? %>
                <%= 'endorsement'.pluralize(review.endorsements.count) %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
        
      <% else %>
        <p>No reviews yet</p>
      <% end %>

    <% end %>

  <% else %>
    <h1>No restaurants yet</h1>
  <% end %>
</section>

<%= link_to 'Add a restaurant', new_restaurant_path %>